In [1]:
import mysql.connector
from mysql.connector import errorcode
import pandas as pd

In [2]:
# Conexión entre Python y MySQL.
try:
  cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1',
                              database='northwind')
# en caso de que no lo consigas por que hay algún error entonces ...
except mysql.connector.Error as err:
  # si es un error con la contraseña devuelveme un mensaje de acceso denegado ya que tenemos problemas con la contraseña
  if err.errno == errorcode.ER_ACCESS_DENIED_ERROR:
    print("Something is wrong with your user name or password")
  
  # si el error no tiene que ver con la contraseña, puede ser porque la base de datos no exista, devuelveme un mensaje de que la base de datos no existe
  elif err.errno == errorcode.ER_BAD_DB_ERROR:
    print("Database does not exist")
  
  # si no es por ninguno de los errores anteriores, printeame cual es el error que estoy teniendo en mi conexión
  else:
    print(err)


3. Usando "information_schema" en la conexión a base de datos, extraer los nombres de las columnas de la tabla "customers" de la BBDD "northwind"

In [ ]:
query_info = "USE information_schema" #Sólo se pueden ejecutar las queries de 1 en 1

In [8]:
my_cursor = cnx.cursor()

my_cursor.execute(query_info)

In [ ]:
query_get_info = '''SELECT COLUMN_NAME 
                FROM COLUMNS WHERE TABLE_NAME = "customers" and table_schema = "northwind"'''   #OJO con las comillas, si son simples fuera, tienen que ser dobles dentro.

In [10]:
my_cursor.execute(query_get_info)

my_cursor.fetchall()

[('CustomerID',),
 ('CompanyName',),
 ('ContactName',),
 ('ContactTitle',),
 ('Address',),
 ('City',),
 ('Region',),
 ('PostalCode',),
 ('Country',),
 ('Phone',),
 ('Fax',)]

4. Seleccionar todo de la tabla "customers" donde "city" sea "London" o "Seattle". Almacenar los resultados en una variable.

In [25]:
query_de_la_mierda = "USE northwind"

In [26]:
my_cursor.execute(query_de_la_mierda)

In [27]:
query_ej_4 = '''SELECT *
                FROM customers WHERE City = "London" OR City = "Seattle"'''

In [28]:
my_cursor.execute(query_ej_4)

datos_ej_4 = my_cursor.fetchall()

In [29]:
datos_ej_4

[('AROUT',
  'Around the Horn',
  'Thomas Hardy',
  'Sales Representative',
  '120 Hanover Sq.',
  'London',
  None,
  'WA1 1DP',
  'UK',
  '(171) 555-7788',
  '(171) 555-6750'),
 ('BSBEV',
  "B's Beverages",
  'Victoria Ashworth',
  'Sales Representative',
  'Fauntleroy Circus',
  'London',
  None,
  'EC2 5NT',
  'UK',
  '(171) 555-1212',
  None),
 ('CONSH',
  'Consolidated Holdings',
  'Elizabeth Brown',
  'Sales Representative',
  'Berkeley Gardens 12  Brewery',
  'London',
  None,
  'WX1 6LT',
  'UK',
  '(171) 555-2282',
  '(171) 555-9199'),
 ('EASTC',
  'Eastern Connection',
  'Ann Devon',
  'Sales Agent',
  '35 King George',
  'London',
  None,
  'WX3 6FW',
  'UK',
  '(171) 555-0297',
  '(171) 555-3373'),
 ('NORTS',
  'North/South',
  'Simon Crowther',
  'Sales Associate',
  'South House 300 Queensbridge',
  'London',
  None,
  'SW7 1RZ',
  'UK',
  '(171) 555-7733',
  '(171) 555-2530'),
 ('SEVES',
  'Seven Seas Imports',
  'Hari Kumar',
  'Sales Manager',
  '90 Wadhurst Rd.',
  'London',
  None,
  'OX15 4NB',
  'UK',
  '(171) 555-1717',
  '(171) 555-5646'),
 ('WHITC',
  'White Clover Markets',
  'Karl Jablonski',
  'Owner',
  '305 - 14th Ave. S. Suite 3B',
  'Seattle',
  'WA',
  '98128',
  'USA',
  '(206) 555-4112',
  '(206) 555-4115')]

5. Convertir los resultados del ejercicio anterior en un Dataframe (no olvidéis de poner el nombre a las columnas en el orden correcto).

In [34]:
df_ej5 = pd.DataFrame(datos_ej_4, columns = ['ID_cliente', 'Empresa', 'Nombre_representante', 'Puesto_representante',
                                        'Dirección', 'Ciudad', 'Región', 'Código_postar', 'País', 'Teléfono', 'Fax'])

In [32]:
df_ej5

,ID_cliente,Empresa,Nombre_representante,Puesto_representante,Dirección,Ciudad,Región,Código_postar,País,Teléfono,Fax
0,AROUT,Around the Horn,Thomas Hardy,Sales Representative,120 Hanover Sq.,London,None,WA1 1DP,UK,(171) 555-7788,(171) 555-6750
1,BSBEV,B's Beverages,Victoria Ashworth,Sales Representative,Fauntleroy Circus,London,None,EC2 5NT,UK,(171) 555-1212,None
2,CONSH,Consolidated Holdings,Elizabeth Brown,Sales Representative,Berkeley Gardens 12 Brewery,London,None,WX1 6LT,UK,(171) 555-2282,(171) 555-9199
3,EASTC,Eastern Connection,Ann Devon,Sales Agent,35 King George,London,None,WX3 6FW,UK,(171) 555-0297,(171) 555-3373
4,NORTS,North/South,Simon Crowther,Sales Associate,South House 300 Queensbridge,London,None,SW7 1RZ,UK,(171) 555-7733,(171) 555-2530
5,SEVES,Seven Seas Imports,Hari Kumar,Sales Manager,90 Wadhurst Rd.,London,None,OX15 4NB,UK,(171) 555-1717,(171) 555-5646
6,WHITC,White Clover Markets,Karl Jablonski,Owner,305 - 14th Ave. S. Suite 3B,Seattle,WA,98128,USA,(206) 555-4112,(206) 555-4115

In [ ]:
# Cosa que ha pasado Diana para crear el DF más rápido: 

column_names = [col[0] for col in my_cursor.description] 
db_results_3 = pd.DataFrame(datos_ej_4,columns=column_names)

In [35]:
cnx.close()